-i https://pypi.org/simple/
altair==4.1.0
astor==0.8.1
attrs==21.2.0
base58==2.1.0
blinker==1.4
boto3==1.17.85
botocore==1.20.85
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
decorator==5.0.9
entrypoints==0.3
enum-compat==0.0.3
future==0.18.2
idna==2.10
importlib-metadata==4.4.0 ; python_version < '3.8'
jinja2==3.0.1
jmespath==0.10.0
jsonschema==3.2.0
markupsafe==2.0.1
numpy==1.19.5
pandas==0.25.2
pillow==8.2.0
protobuf==3.17.1
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
s3transfer==0.4.2
six==1.16.0
streamlit==0.49.0
toml==0.10.2
toolz==0.11.1
tornado==5.1.1
typing-extensions==3.10.0.0 ; python_version < '3.8'
tzlocal==2.1
urllib3==1.26.5
validators==0.18.2
watchdog==2.1.2
zipp==3.4.1
